# 4.8 IC Grouping Data & Aggregating Variables Exercise

## Contents:

### 01. Imporitng Libraries

### 02. Create a Subset

### 03. Grouping Data with pandas

###Â 04. Aggregating Data with agg()

### 05. Aggregating Data with transform()

### 06. Deriving Columns with loc()

### 07. Exporitng dataframe

#### 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Importing df_ords_prods_merge
path = r'/Users/yaseminmustafa/Desktop/CareerFoundry/Exercise 4/15-05-2025_Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path,"02_Data/Prepared Data/ords_prods_merge_new_variables.pkl"))

In [4]:
# Check output
ords_prods_merge.head()

,order_id,user_id,dataset_label,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2,202279.0,prior,3.0,5.0,9.0,8.0,33120.0,1.0,1.0,both,Organic Egg Whites,86,16,11.3,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2,202279.0,prior,3.0,5.0,9.0,8.0,28985.0,2.0,1.0,both,Michigan Organic Kale,83,4,13.4,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2,202279.0,prior,3.0,5.0,9.0,8.0,9327.0,3.0,0.0,both,Garlic Powder,104,13,3.6,Low-range product,Regularly busy,Regularly busy,Average orders
3,2,202279.0,prior,3.0,5.0,9.0,8.0,45918.0,4.0,1.0,both,Coconut Butter,19,13,8.4,Mid-range product,Regularly busy,Regularly busy,Average orders
4,2,202279.0,prior,3.0,5.0,9.0,8.0,30035.0,5.0,0.0,both,Natural Sweetener,17,13,13.7,Mid-range product,Regularly busy,Regularly busy,Average orders

In [5]:
# Check shape
ords_prods_merge.shape

(32404859, 19)

#### 02. Create a Subset

In [6]:
# Create subset
df = ords_prods_merge[:1000000]

In [7]:
df.shape

(1000000, 19)

#### 03. Grouping Data with pandas

In [8]:
# Split data into group product_name in df
df.groupby('product_name')

#### 04. Aggregating Data with agg()

In [9]:
# Split the data into groups based on department_id and apply the agg() function to obtain mean values for the order_number column
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                16.731090
2                19.586011
3                18.556774
4                19.080298
5                15.707791
6                17.682115
7                18.521677
8                17.102641
9                17.233564
10               22.162369
11               17.686431
12               17.225351
13               17.965434
14               18.044586
15               17.581762
16               18.925072
17               17.140737
18               20.112791
19               18.511760
20               17.796863
21               24.022115

In [10]:
# Split the data into groups based on department_id and apply the mean() function to obtain mean values for the order_number column
df.groupby('department_id')['order_number'].mean()

department_id
1     16.731090
2     19.586011
3     18.556774
4     19.080298
5     15.707791
6     17.682115
7     18.521677
8     17.102641
9     17.233564
10    22.162369
11    17.686431
12    17.225351
13    17.965434
14    18.044586
15    17.581762
16    18.925072
17    17.140737
18    20.112791
19    18.511760
20    17.796863
21    24.022115
Name: order_number, dtype: float64

In [11]:
# Split the data into groups based on department_id and apply the mean() function to obtain mean values for the order_number column
# Can alternatively be written as
df.groupby('department_id').order_number.mean()

department_id
1     16.731090
2     19.586011
3     18.556774
4     19.080298
5     15.707791
6     17.682115
7     18.521677
8     17.102641
9     17.233564
10    22.162369
11    17.686431
12    17.225351
13    17.965434
14    18.044586
15    17.581762
16    18.925072
17    17.140737
18    20.112791
19    18.511760
20    17.796863
21    24.022115
Name: order_number, dtype: float64

In [12]:
# Split the data into groups based on department_id and apply the mean(), min(), and max() function 
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean  min   max
department_id
1                16.731090  2.0  99.0
2                19.586011  2.0  97.0
3                18.556774  2.0  99.0
4                19.080298  2.0  99.0
5                15.707791  2.0  99.0
6                17.682115  2.0  99.0
7                18.521677  2.0  99.0
8                17.102641  2.0  96.0
9                17.233564  2.0  99.0
10               22.162369  2.0  99.0
11               17.686431  2.0  99.0
12               17.225351  2.0  99.0
13               17.965434  2.0  99.0
14               18.044586  2.0  99.0
15               17.581762  2.0  99.0
16               18.925072  2.0  99.0
17               17.140737  2.0  99.0
18               20.112791  2.0  99.0
19               18.511760  2.0  99.0
20               17.796863  2.0  99.0
21               24.022115  2.0  98.0

#### 05. Aggregating Data with transform()

In [13]:
# Split the data into groups based on the âuser_idâ column.
# Apply the transform() function on the âorder_numberâ column to generate the maximum orders for each user.
# Create a new column, âmax_order,â into which youâll place the results of your aggregation.
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/nr/1brwh_xs1n5_2h6494zpg7jm0000gn/T/ipykernel_7011/1765782716.py:4: FutureWarning: The provided callable <function max at 0x10c4b0900> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
# Check output
ords_prods_merge.head(15)

,order_id,user_id,dataset_label,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2,202279.0,prior,3.0,5.0,9.0,8.0,33120.0,1.0,1.0,both,Organic Egg Whites,86,16,11.3,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
1,2,202279.0,prior,3.0,5.0,9.0,8.0,28985.0,2.0,1.0,both,Michigan Organic Kale,83,4,13.4,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
2,2,202279.0,prior,3.0,5.0,9.0,8.0,9327.0,3.0,0.0,both,Garlic Powder,104,13,3.6,Low-range product,Regularly busy,Regularly busy,Average orders,8.0
3,2,202279.0,prior,3.0,5.0,9.0,8.0,45918.0,4.0,1.0,both,Coconut Butter,19,13,8.4,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
4,2,202279.0,prior,3.0,5.0,9.0,8.0,30035.0,5.0,0.0,both,Natural Sweetener,17,13,13.7,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
5,2,202279.0,prior,3.0,5.0,9.0,8.0,17794.0,6.0,1.0,both,Carrots,83,4,10.7,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
6,2,202279.0,prior,3.0,5.0,9.0,8.0,40141.0,7.0,1.0,both,Original Unflavored Gelatine Mix,105,13,11.5,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
7,2,202279.0,prior,3.0,5.0,9.0,8.0,1819.0,8.0,1.0,both,All Natural No Stir Creamy Almond Butter,88,13,11.5,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
8,2,202279.0,prior,3.0,5.0,9.0,8.0,43668.0,9.0,0.0,both,Classic Blend Cole Slaw,123,4,7.5,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
9,3,205970.0,prior,16.0,5.0,17.0,12.0,33754.0,1.0,1.0,both,Total 2% with Strawberry Lowfat Greek Strained...,120,16,11.8,Mid-range product,Regularly busy,Regularly busy,Average orders,25.0
10,3,205970.0,prior,16.0,5.0,17.0,12.0,24838.0,2.0,1.0,both,Unsweetened Almondmilk,91,16,5.3,Mid-range product,Regularly busy,Regularly busy,Average orders,25.0
11,3,205970.0,prior,16.0,5.0,17.0,12.0,17704.0,3.0,1.0,both,Lemons,123,4,10.0,Mid-range product,Regularly busy,Regularly busy,Average orders,25.0
12,3,205970.0,prior,16.0,5.0,17.0,12.0,21903.0,4.0,1.0,both,Organic Baby Spinach,123,4,8.2,Mid-range product,Regularly busy,Regularly busy,Average orders,25.0
13,3,205970.0,prior,16.0,5.0,17.0,12.0,17668.0,5.0,1.0,both,Unsweetened Chocolate Almond Breeze Almond Milk,91,16,6.6,Mid-range product,Regularly busy,Regularly busy,Average orders,25.0
14,3,205970.0,prior,16.0,5.0,17.0,12.0,46667.0,6.0,1.0,both,Organic Ginger Root,83,4,6.9,Mid-range product,Regularly busy,Regularly busy,Average orders,25.0

##### My user_id and order_id column appear to be reversed compared to the exercise example.
##### Also, the numbers in the âorder_numberâ don't match the values in the âmax_orderâ column.

In [15]:
# Check output
ords_prods_merge.head(100)

,order_id,user_id,dataset_label,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2,202279.0,prior,3.0,5.0,9.0,8.0,33120.0,1.0,1.0,both,Organic Egg Whites,86,16,11.3,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
1,2,202279.0,prior,3.0,5.0,9.0,8.0,28985.0,2.0,1.0,both,Michigan Organic Kale,83,4,13.4,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
2,2,202279.0,prior,3.0,5.0,9.0,8.0,9327.0,3.0,0.0,both,Garlic Powder,104,13,3.6,Low-range product,Regularly busy,Regularly busy,Average orders,8.0
3,2,202279.0,prior,3.0,5.0,9.0,8.0,45918.0,4.0,1.0,both,Coconut Butter,19,13,8.4,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
4,2,202279.0,prior,3.0,5.0,9.0,8.0,30035.0,5.0,0.0,both,Natural Sweetener,17,13,13.7,Mid-range product,Regularly busy,Regularly busy,Average orders,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,11,143742.0,prior,4.0,1.0,19.0,23.0,1313.0,4.0,1.0,both,Tortilla Strips Restaurant Style,107,19,3.4,Low-range product,Regularly busy,Busiest days,Average orders,15.0
96,11,143742.0,prior,4.0,1.0,19.0,23.0,31506.0,5.0,1.0,both,Extra Virgin Olive Oil,19,13,5.7,Mid-range product,Regularly busy,Busiest days,Average orders,15.0
97,12,152610.0,prior,22.0,6.0,8.0,10.0,30597.0,1.0,1.0,both,French Vanilla Coffee Creamer,53,16,11.6,Mid-range product,Regularly busy,Regularly busy,Average orders,26.0
98,12,152610.0,prior,22.0,6.0,8.0,10.0,15221.0,2.0,1.0,both,2% Milk,84,16,7.0,Mid-range product,Regularly busy,Regularly busy,Average orders,26.0
99,12,152610.0,prior,22.0,6.0,8.0,10.0,43772.0,3.0,1.0,both,Cherubs Heavenly Salad Tomatoes,83,4,4.1,Low-range product,Regularly busy,Regularly busy,Average orders,26.0

In [16]:
# Overiding Jupyter's display option
pd.options.display.max_rows = None

#### 06. Deriving Columns with loc()

In [17]:
# If statements with the loc () function
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [18]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [19]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [20]:
# Print frequency 
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15081691
Loyal customer      10095381
New customer         5151691
NaN                  2076096
Name: count, dtype: int64

In [21]:
# Check shape
ords_prods_merge.shape

(32404859, 21)

In [22]:
# Identify specific columns
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

     user_id      loyalty_flag  order_number
0   202279.0      New customer           3.0
1   202279.0      New customer           3.0
2   202279.0      New customer           3.0
3   202279.0      New customer           3.0
4   202279.0      New customer           3.0
5   202279.0      New customer           3.0
6   202279.0      New customer           3.0
7   202279.0      New customer           3.0
8   202279.0      New customer           3.0
9   205970.0  Regular customer          16.0
10  205970.0  Regular customer          16.0
11  205970.0  Regular customer          16.0
12  205970.0  Regular customer          16.0
13  205970.0  Regular customer          16.0
14  205970.0  Regular customer          16.0
15  205970.0  Regular customer          16.0
16  205970.0  Regular customer          16.0
17  178520.0    Loyal customer          36.0
18  178520.0    Loyal customer          36.0
19  178520.0    Loyal customer          36.0
20  178520.0    Loyal customer          36.0
21  178520.0    Loyal customer          36.0
22  178520.0    Loyal customer          36.0
23  178520.0    Loyal customer          36.0
24  178520.0    Loyal customer          36.0
25  178520.0    Loyal customer          36.0
26  178520.0    Loyal customer          36.0
27  178520.0    Loyal customer          36.0
28  178520.0    Loyal customer          36.0
29  178520.0    Loyal customer          36.0
30  156122.0    Loyal customer          42.0
31  156122.0    Loyal customer          42.0
32  156122.0    Loyal customer          42.0
33  156122.0    Loyal customer          42.0
34  156122.0    Loyal customer          42.0
35  156122.0    Loyal customer          42.0
36  156122.0    Loyal customer          42.0
37  156122.0    Loyal customer          42.0
38  156122.0    Loyal customer          42.0
39  156122.0    Loyal customer          42.0
40  156122.0    Loyal customer          42.0
41  156122.0    Loyal customer          42.0
42  156122.0    Loyal customer          42.0
43  156122.0    Loyal customer          42.0
44  156122.0    Loyal customer          42.0
45  156122.0    Loyal customer          42.0
46  156122.0    Loyal customer          42.0
47  156122.0    Loyal customer          42.0
48  156122.0    Loyal customer          42.0
49  156122.0    Loyal customer          42.0
50  156122.0    Loyal customer          42.0
51  156122.0    Loyal customer          42.0
52  156122.0    Loyal customer          42.0
53  156122.0    Loyal customer          42.0
54  156122.0    Loyal customer          42.0
55  156122.0    Loyal customer          42.0
56   22352.0      New customer           4.0
57   22352.0      New customer           4.0
58   22352.0      New customer           4.0
59  142903.0  Regular customer          11.0

#### 07. Exporitng Dataframe

In [23]:
# Export data to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02_Data','Prepared Data', 'ords_prods_merge_aggregated.pkl'))